@styles = {
}

@scripts = {
<script>
require(['main'], function () {
    require(['bootstrap']);
});
</script>
}

@main("About", null, styles, scripts) {
<div class="container" id="app">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1 class="modal-title" id="aboutModalLabel">About Emojidō</h1>
            </div>
            <p>Emojidō is a web application for creating and sharing emoji-made texts. It is free software released under GNU AGPL 3.</p>
            <ul class="list-unstyled list-inline">
                <li><a href="https://gitlab.com/emojido/emojido" class="btn btn-success">Get source code</a></li>
                <li><a href="https://facebook.com/emojido/" class="btn btn-info">Go to Facebook page</a></li>
            </ul>
        </div>
    </div>
</div>

@tags.emojiPickerModal()
}
