<div class="modal fade select-emoji-modal" tabindex="-1" role="dialog" aria-labelledby="selectEmojiModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <ul id="gallery-navs-container" class="nav nav-pills emoji-centered-flex"></ul>
                <p id="gallery-loading-alert" class="text-center text-info">Loading gallery</p>
                <hr/>
                <p id="gallery-category-title" class="text-center text-muted"></p>
                <ul id="gallery-emojis-container" class="emoji-centered-flex"></ul>
            </div>
        </div>
    </div>
</div>
