@import "lib/bootstrap/less/variables.less";

.emoji-grid {
    overflow-x: auto;
    margin: 0;
    padding: 0;
}

.emoji-row {
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.emoji-cell {
    display: inline-block;
    margin: 2px;
    padding: 4px;
}

.emoji-interactive {
    border: 1px solid;
    border-color: @btn-default-border;
    border-radius: @btn-border-radius-base;
    background-color: @btn-default-bg;
}

.emoji-interactive:hover {
    background-color: darken(@btn-default-bg, 10%);
}

.emoji-centered-flex {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	padding: 0;
}

.emoji-highlighted {
    animation: blinker 1s linear infinite;
}

.subtitle-area {
    margin: 5px 0 5px;
}

@keyframes blinker {
    50% {
        background-color: darken(@btn-default-bg, 10%);
    }
}
