@this(webJarAssets: WebJarAssets)

@styles = {
}

@scripts = {
<script>
require(['main'], function () {
    require(['createEmojiText']);
});
</script>
}

@main("Create emoji text", null, styles, scripts) {
<div class="container" id="app">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title" autofocus>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group form-rows">
                        <label for="rows">Rows</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default minus" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                            </span>
                            <input type="number" min="1" class="form-control" placeholder="3">
                            <span class="input-group-btn">
                                <button class="btn btn-default plus" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group form-columns">
                        <label for="columns">Columns</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default minus" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                            </span>
                            <input type="number" min="1" class="form-control" placeholder="3">
                            <span class="input-group-btn">
                                <button class="btn btn-default plus" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea hidden id="content" name="content"></textarea>
                <div id="editor-emojis-container" class="emoji-grid"></div>
            </div>
            <button type="button" id="submit-button" class="btn btn-success btn-block">Create</button>
        </div>
    </div>
</div>

@tags.emojiPickerModal()
}
