@this(configuration: play.api.Configuration, webJarAssets: WebJarAssets)

@()

@styles = {
<style type="text/css" media="screen">
ul {
    margin-bottom: 0;
}
</style>
}

@scripts = {

<script>
    var pageSize = @configuration.getInt("pageSize");
</script>

<script>
require(['main'], function () {
    require(['searchEmojiTexts']);
});
</script>
}

@main("Search emoji texts", null, styles, scripts) {
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul id="search-emojis-container" class="emoji-grid emoji-centered-flex"></ul>
            <nav>
                <ul id="pager-top" class="pager">
                    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
            <ul id="emoji-texts-container" class="emoji-grid"></ul>
            <nav>
                <ul id="pager-bottom" class="pager">
                    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@tags.emojiPickerModal()
}
