@this(configuration: play.api.Configuration, webJarAssets: WebJarAssets)

@(emojiTextResource: resources.EmojiTextResource, spriteWidth: Integer, spriteHeight: Integer)

@meta = {
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@configuration.getString("twitterCards.site")">
<meta name="twitter:title" content="@if(emojiTextResource.getTitle()) {@emojiTextResource.getTitle()} else {@configuration.getString("twitterCards.getTitle()")}">
<meta name="twitter:description" content="@configuration.getString("twitterCards.description")">
<meta name="twitter:image" content="@routes.EmojiTextController.showEmojiTextAsSprite(emojiTextResource.getId()).absoluteURL">

<meta property="og:type" content="article">
<meta property="og:site_name" content="@configuration.getString("facebookOpenGraph.sitename")">
<meta property="og:title" content="@if(emojiTextResource.getTitle()) {@emojiTextResource.getTitle()} else {@configuration.getString("facebookOpenGraph.getTitle()")}">
<meta property="og:description" content="@configuration.getString("facebookOpenGraph.description")">
<meta property="og:image" content="@routes.EmojiTextController.showEmojiTextAsSprite(emojiTextResource.getId()).absoluteURL">
<meta property="og:image:width" content="@spriteWidth">
<meta property="og:image:height" content="@spriteHeight">
<meta property="og:url" content="@routes.EmojiTextController.showEmojiText(emojiTextResource.getId()).absoluteURL">
}

@styles = {
}

@scripts = {

<script>
    var serialized = @defining(play.libs.Json.toJson(emojiTextResource).toString()) {serialized => @Html(serialized)};
</script>

<script>
require(['main'], function () {
    require(['showEmojiText']);
});
</script>
}

@main(emojiTextResource.getTitle(), meta, styles, scripts) {
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1 id="title"></h1>
                <div class="subtitle-area">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span class="creationDate"></span>
                    <div class="btn-group btn-group-sm" aria-label="Copy">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Copy <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="@routes.EmojiTextController.createEmojiText()#template/@emojiTextResource.getId()">Use as template</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" class="btn-copy-shortcodes" role="button">Copy as shortcodes</a></li>
                            <li><a href="#" class="btn-copy-unicode" role="button">Copy as unicode</a></li>
                        </ul>
                    </div>
                    <div class="btn-group btn-group-sm" aria-label="Share">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="https://facebook.com/sharer.php?u=@routes.EmojiTextController.showEmojiText(emojiTextResource.getId()).absoluteURL" rel="nofollow" target="_blank" title="Share on Facebook">Share on Facebook</a></li>
                            <li><a href="https://twitter.com/intent/tweet?text=@play.utils.UriEncoding.encodePathSegment("I just created this with Emojidō", "UTF-8")&hashtags=emoji,emojido&url=@routes.EmojiTextController.showEmojiText(emojiTextResource.getId()).absoluteURL" rel="nofollow" target="_blank" title="Share on Twitter">Share on Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="emoji-grid"></div>
        </div>
    </div>
</div>
}
